fastapi
uvicorn[standard]
pandas
ortools
numpy
gymnasium
stable-baselines3
sb3-contrib
langchain
langchain-community
langchain-openai
openai
openpyxl
pytest
requests
streamlit
streamlit-aggrid
tensorboard
torch
invoke
xlsxwriter
python-dotenv
