fastapi
uvicorn[standard]
pandas
ortools
numpy
gymnasium
stable-baselines3
langchain
langchain-community
langchain-openai
openai
openpyxl
requests
streamlit
streamlit-aggrid
tensorboard
torch
invoke
xlsxwriter